# Kopiere diese Datei nach ".env" und passe bei Bedarf die Werte an.
#   cp .env.example .env        (Linux/Mac)
#   copy .env.example .env      (Windows CMD)
# docker compose liest .env automatisch.

DB_NAME=elli
DB_USER=elli_user
DB_PASSWORD=z1X2y3w4!V5u6
DB_ROOT_PASSWORD=189240czc24uß940238uz4n2SnaIrE
